.kiosk {
  padding: 30px;
  gap: 40px;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size: 31px;
}

.line-number {
  font-size: 35px;
}

.destination-name {
  font-size: 27px;
}

.departure-time {
  font-size: 35px;
}

.loading-text {
  font-size: 24px;
}

.card {
  height: 70px;
}

/* Removed animations and transitions */

@keyframes slideIn {
  /* Animation code removed */
}

@keyframes pulse {
  /* Animation code removed */
}

.hover-effect {
  /* Hover effect removed */
}

.transition {
  /* Transition properties removed */
}
