.lineNumber {
  font-size: 35px;
}
.lineName {
  font-size: 27px;
}
.departureTime {
  font-size: 35px;
}
h2 {
  font-size: 52px;
}
h3 {
  font-size: 31px;
}
body {
  padding: 30px;
}
/* Removed animations and transitions for a static display */
/* Removed animation: slideIn */
/* Removed animation: pulse */
/* Removed transitions and hover effects */
/* Removed transform properties */
